html {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom right, rgb(91, 138, 105), rgb(42, 60, 83)) no-repeat;
    top: 150px;
  }
  
  .macbeth {
    width: 33%;
    height: 100vh;
    background: linear-gradient(to bottom left, rgb(170, 39, 39), rgb(88, 7, 7)) no-repeat;

    .m {
        padding: 5px;
        font-size: 12;
    }
  }
  
  .anInspectorCalls {
    width: 33%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(48, 39, 170), rgb(18, 13, 95)) no-repeat;

    .i {
        padding: 5px;
        font-size: 12;
    }
  }
  
  .aChristmasCarol {
    width: 33%;
    height: 100vh;
    background: linear-gradient(to top right, rgb(168, 170, 39), rgb(75, 77, 9)) no-repeat;

    .c {
        padding: 5px;
        font-size: 12;
    }
  }
  
  body {
    margin: 0!important;
  }
  
  .d-flex {
    display: flex;
  }
